@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@200;400;600&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    scroll-behavior: smooth;
}

#inicio {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    background-size: cover;
    background-color: rgb(31, 22, 78);
    background-position: center center;
    height: 100vh;
}

.bubbles {
    position: relative;
    display: flex;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #4fc3dc;
    margin: 0px 4px;
    margin-top: 10px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44,
        0 0 50px #4fc3dc,
        0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(125s/var(--i));
}

.bubbles span:nth-child(even) {
    background-color: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544;
}

@keyframes animate {
    0% {
        transform: translateY(100vh) scale(0);
    }

    100% {
        transform: translateY(-10vh) scale(1);
    }
}


#inicio .contenido header {
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 20px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #ff5080;
}

#inicio .contenido header .contenido-header nav ul {

    list-style: none;
    display: flex;
    align-items: center;

}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: aliceblue;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul a:hover {
    color: #e49090;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;

}

#inicio .contenido header .contenido-header .redes a:hover {
    color: #ff5080;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#inicio .contenido .presentacion .bienvenida {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#inicio .contenido .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;

}

#inicio .contenido .presentacion h2 span {
    font-size: 25px;
    color: #ff5080;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;

}

#inicio .contenido .presentacion a:hover {
    background-color: #ffffff;
    box-shadow: 10px 10px 10px;
    color: black;
}

#icono-nav {
    color: #fff;
    display: none;
}


/* SECCION SOBBRE MI */
#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 90px 15px;
    color: #111135;
    display: flex;
}

#sobremi .contenedor-foto {
    max-width: 400px;
    margin-right: 80px;
    margin-top: 5%;
}

#sobremi .contenedor-foto img {
    padding: 20px;
 
    width: 100%;
    border-radius: 20px;
    background-color: #f3f3f3;
}

#sobremi .sobremi {
    margin: 0 40px;
}

#sobremi .sobremi .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#sobremi .sobremi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobremi .sobremi h2:hover {
    color: #ff5080;
}

#sobremi .sobremi h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobremi .sobremi p {
    font-size: 14px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 12px;
}

#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #ff5080;
    color: #fff;
}

/* SECCION SERVICIOS */
#servicios {
    padding: 100px 15px;
    min-height: 100vh;
    text-align: center;
    background-color: #090717;

    align-items: center;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;


}

#servicios .titulo-seccion {
    font-size: 22px;
    text-transform: uppercase;
    color: #fcfcfc;
    text-decoration: underline;
    text-decoration-color: #f8f8f8;
    text-decoration-thickness: 5px;
}

@keyframes scroll {
    0% {
        transform: translate(calc(-200px * 5));
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

#servicios .fila {
    position: relative;
    /* border-radius: 50%; */
    width: 100%;
    /* height: 100vh; */
    /* background: linear-gradient(rgba(86, 86, 86, 0.7), rgba(0, 0, 0, 0.7)); */

    height: 50%;
    transition: .5s;
    overflow: hidden;
    color: #ffffff;
    margin-top: 70px;
}
#servicios .fila h3{
    display: flex;
}

#servicios .fila .servicios {

    margin-top: 20px;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(60px*50);
    height: 200px;
    margin-left: 45%;
    /* border-bottom: 1px solid white; */
    border-top: 1px solid white;

}

#servicios .fila .servicios .icono {
    position: relative;
    margin-top: 30px;
    width: 10%;
    height: 100%;
    margin-left: 50px;

}

#servicios .fila .servicios img {
    width: 100%;
    height: auto;
    /* Ajusta automáticamente la altura de la imagen */
    transition: .5s;
}

#servicios .fila .servicios:hover {

    animation-play-state: paused;
}

#servicios .fila .servicios .icono:hover img {
    width: 115px;
    cursor: pointer;
    animation-play-state: paused;
}


/* SECCION HABILIDADES */

.contenedor-skills {
    background: linear-gradient(rgb(31, 22, 78), rgba(33, 16, 16, .8)), url('/img/fondo2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
    min-height: 100vh;
    color: rgb(247, 247, 160);
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info {
    display: inline-block;
    display: flex;
    justify-content: space-between;
}

.contenedor-skills .skill .lista {

    margin-right: 20px;
    height: 10px;
    width: 10px;


}

.contenedor-skills .skill .barra {
    background-color: #413737;
    width: 100%;
    height: 6px;
    margin: 10px 0;
}

.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 80%;
    height: 6px;
    animation: progreso1 2s forwards;

}

.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso2 2s forwards;

}

.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;

}

.contenedor-skills .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso4 2s forwards;

}

@keyframes progreso1 {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }

    100% {
        width: 85%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }

    100% {
        width: 90%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }

    100% {
        width: 95%;
    }
}

/* SECCION PORTFOLIO */

#portfolio {
min-width: 1100px;
    min-height: 100vh;
    padding: 80px 0;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

#portfolio .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

.proyectos{
    display: flex;
    flex-direction: column;
    
    flex-wrap: wrap;
}
#portfolio .fila {
    display: flex;
    width: 80%;
    align-items: center;
    padding: 20px 10px 20px;
    margin-top: 60px;
    position: relative;
    overflow: hidden; /* Ocultar el contenido de los pseudo-elementos */
}

#portfolio .fila::before,
#portfolio .fila::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(45deg, transparent, white, transparent);
    background-size: 300% 100%;
    animation: rotateLight 3s linear infinite;
}

#portfolio .fila::before {
    top: 0;
    left: 0;
    transform: rotate(0deg);
}

#portfolio .fila::after {
    bottom: 0;
    left:0;

    transform: rotate(0deg);
}

@keyframes rotateLight {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 300% 0%;
    }
}

#portfolio .fila .proyecto {
    max-width: 600px;
    border: 1px solid #b6b6b6;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 0;

}

#portfolio .fila .proyecto img {
    width: 100%;
    min-height: 100%;
    filter: grayscale(1);
    object-fit: cover;
    transition: .5s;

}

#portfolio .fila .descripcion {
   padding-left: 10%;
   letter-spacing: 2px;
   text-align: center;
   width: 50%;
   height: 100%;


} 
#portfolio .fila .descripcion img {
    width: 80px;
    filter: grayscale(1);
     transition: .5s;

    padding-top: 10px;
 
 } 
#portfolio .fila .descripcion h3{
    margin-bottom: 5px;

 } 


#portfolio .fila:hover img {
    filter: grayscale(0);
}

#portfolio .fila .proyecto .info {
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    color: #ff5080;
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -50px;
    transition: .5s;
    display: flex;
    justify-content: space-between;

}
@media screen and (max-width: 768px) {

    #portfolio{
    min-width: 100%!important;
    }
    #portfolio .fila {
        padding-top: 0;
        margin-top: 30px;
        margin-bottom: 10px;
        width: 100%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        padding: 10px; /* Añadir un padding más pequeño */
   
    }

    #portfolio .fila::before,
    #portfolio .fila::after {
        height: 1px;
    }

    #portfolio .fila .descripcion {
        width: 100%;
        padding-left: 0;
        padding-top: 20px; /* Eliminar el padding lateral en dispositivos pequeños */
    }

    #portfolio .fila .proyecto .info {
        bottom: -30px;
    }
}

#portfolio .fila:hover .info {

    opacity: 1;
    bottom: 0;
    display: inline-block;
    display: flex;
    justify-content: space-between;

}

#portfolio .fila:hover .info i {
    color: white;
    width: 25px;

}
#portfolio .fila:hover h3 {
    transition: .5s;
    color: #ff2d75;


}


/* SECCION CONTACTO */

#contacto {
    border-top: 1px solid black;
    padding: 100px 15px;

}

#contacto .titulo-seccion {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;

}

#contacto .contenedor-form .mitad input {
    width: 48%;

}

#contacto .contenedor-form .input-full {
    width: 100%;

}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;

}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}

/* SECCION REPONSIVE */

@media screen and (max-width:800px) {
    .redes {
        display: none;
    }

    nav {
        display: none;
    }

    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 40px;
        left: 0;
        padding: 10px 0;
    }

    nav.responsive ul {
        display: block !important;
        text-align: center;
    }

    nav.responsive ul li {
        margin: 5px 0;
    }

    #icono-nav {
        display: block;
    }

    #inicio .contenido .presentacion h2 {
        font-size: 40px;
    }

    #inicio .bubbles span {
        width: 10px;
        height: 8px;
        box-shadow: 0 0 0 5px #4fc3dc44,


    }

    .bubbles span:nth-child(even) {
        background-color: #ff2d75;
        box-shadow: 0 0 0 5px #ff2d7544;
    }

    #sobremi {
        padding: 50px 0;
        display: block;
    }

    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }

    #sobremi .contenedor-foto img {
        padding: 8px;
    }

    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }

    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }


    #servicios {
        padding: 50px 15px;

    }

    #servicios .fila {
        display: block;
    }

    #servicios .fila .servicios {
        margin: 10px auto;
    }

    .contenedor-skills {
        padding: 50px 20px;
    }

    /* #portfolio {
        padding: 50px 0;
        max-height: 100vh;
    }

    #portfolio .fila {
        display: block;

    }

    #portfolio .fila .proyecto {
        margin: 10px auto;
    } */

    #contacto {
        padding: 50px 15px;
    }

    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }

    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }

}